<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png"/>
</head>
<body>
<noscript
        style="top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%); font-family: monospace; width: 100%; text-align: center;">
    JavaScript is disabled on your browser, please enable JavaScript to make this app work.
</noscript>
<div id='app'></div>
</body>
</html>