.main {
    display: flex;
    justify-content: space-around;
    svg {
        background-color: #f5f5f5;
        background-image: linear-gradient(to bottom, #FFFFFF, #e2e2e2);
        border-bottom: 1px solid #CCC;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .editor {
        textarea {
            width:  700px;
            height: 100%;
            resize: none;
        }
    }
}